.input {
  display: block;
  padding-left: 1rem;
  padding-right: 1rme;
  width: 400px;
  border-radius: 0.25rem;
  border: 1px solid;
  border-color: inherit;
  background-color: #fff;
}

.small {
  font-size: 0.875rem;
  height: 2rem;
}

.medium {
  font-size: 1rem;
  height: 2.5rem;
}

.large {
  font-size: 1.25rem;
  height: 3rem;
}
